.tabs {
  margin: 70px auto 0; 
  display: flex;
  justify-content: center;
  gap: 0;
  border-bottom: 1px solid #ccc;
  width: fit-content;  
}

.tabBtn {
  padding: 12px 30px;
  border: none;       
  background: none;  
  cursor: pointer;
  font-size: 16px;
  position: relative;
  transition: color 0.3s;
}


.tabBtn:active {
  transform: scale(1.05);
}


.tabBtn[aria-selected="true"] {
  color: #000; 
}

.tabBtn[aria-selected="true"]::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px; 
  width: 100%;
  height: 3px; 
  background: #333;
}

.tabImage {
  width: 100%;
  max-width: 892px;
  height: auto;     
  object-fit: contain; 
  display: block;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(15px);
  animation: show 0.4s forwards;
}
.tabContent {
  margin-top: 40px;  
}

@keyframes show {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
