
.wrapper {
  width: 100%;         
  max-width: 892px;     
  margin: 20px auto 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}


.slider {
  display: flex;
  gap: 20px;
  transition: transform 0.4s ease;
}


.card {
  flex: 0 0 80%;       
  max-width: 280px;  
  text-align: center;
}

.img {
  width: 100%;        
  height: auto;     
  aspect-ratio: 3/5;  
  border-radius: 15px;
}

.caption {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 500;
  
}


.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ccc;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.active {
  background: #333;
}
